USE [medic1]
GO
/****** Object:  User [as]    Script Date: 14.08.2023 13:59:41 ******/
CREATE USER [as] FOR LOGIN [as] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [as]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[APPOINTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[DOCTOR_ID] [int] NULL,
	[TARİH] [date] NULL,
	[SAAT] [time](7) NULL,
 CONSTRAINT [PK__Appointm__49B308C6126A06B1] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BLOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[BAŞLIK] [varchar](100) NULL,
	[İÇERİK] [varchar](1000) NULL,
	[TARİH] [date] NULL,
	[DOKTOR_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL,
 CONSTRAINT [PK__Blogs__F913A29DB156BCE4] PRIMARY KEY CLUSTERED 
(
	[BLOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CART_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[PACKAGE_ID] [int] NULL,
	[ADET] [int] NULL,
 CONSTRAINT [PK__Cart__AB01BF6F4922C760] PRIMARY KEY CLUSTERED 
(
	[CART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DEPARTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_AD] [varchar](50) NULL,
 CONSTRAINT [PK__Departme__63E6136264E94C45] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor_Departments]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor_Departments](
	[DOCTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
 CONSTRAINT [PK__Doctor_D__6F54DC861E7B9FE1] PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC,
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DOCTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[UZMANLIK_ALANI] [varchar](50) NULL,
	[ILETISIM_BILGILERI] [varchar](100) NULL,
 CONSTRAINT [PK__Doctors__596ABDB0D5A7054A] PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[PACKAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAKET_ADI] [varchar](50) NULL,
	[ACIKLAMA] [varchar](100) NULL,
	[FIYAT] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Packages__D41E21614412EF40] PRIMARY KEY CLUSTERED 
(
	[PACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_ID] [int] NULL,
	[TUTAR] [decimal](10, 2) NULL,
	[ODEME_TARIHI] [date] NULL,
 CONSTRAINT [PK__Payments__D2C4FF466FAC8DA6] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchased_Packages]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchased_Packages](
	[PURCHASE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[PACKAGE_ID] [int] NULL,
	[TARİH] [date] NULL,
 CONSTRAINT [PK__Purchase__AF7B9D5497B26386] PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[RESULT_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[DOCTOR_ID] [int] NULL,
	[TARİH] [date] NULL,
	[SONUC] [varchar](100) NULL,
 CONSTRAINT [PK__Results__A6156038FC9151F2] PRIMARY KEY CLUSTERED 
(
	[RESULT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.08.2023 13:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[E_POSTA] [varchar](50) NULL,
	[SIFRE] [varchar](50) NULL,
 CONSTRAINT [PK__Users__F3BEEBFFA65016AE] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([USER_ID], [AD], [SOYAD], [E_POSTA], [SIFRE]) VALUES (1, N'Utku', N'Uz', N'utkuuz@gmail.com', N'123')
INSERT [dbo].[Users] ([USER_ID], [AD], [SOYAD], [E_POSTA], [SIFRE]) VALUES (2, N'Ata', N'Can', N'atacan@gmail.com', N'456')
INSERT [dbo].[Users] ([USER_ID], [AD], [SOYAD], [E_POSTA], [SIFRE]) VALUES (3, N'Can', N'Saka', N'cansaka@xyz.com', N'789')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__DOCTO__4222D4EF] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[Doctors] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__DOCTO__4222D4EF]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__USER___412EB0B6] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[Users] ([USER_ID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__USER___412EB0B6]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK__Blogs__DEPARTMEN__5629CD9C] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[Departments] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK__Blogs__DEPARTMEN__5629CD9C]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK__Blogs__DOKTOR_ID__5535A963] FOREIGN KEY([DOKTOR_ID])
REFERENCES [dbo].[Doctors] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK__Blogs__DOKTOR_ID__5535A963]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__PACKAGE_ID__4E88ABD4] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[Packages] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__PACKAGE_ID__4E88ABD4]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__USER_ID__4D94879B] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[Users] ([USER_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__USER_ID__4D94879B]
GO
ALTER TABLE [dbo].[Doctor_Departments]  WITH CHECK ADD  CONSTRAINT [FK__Doctor_De__DEPAR__3E52440B] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[Departments] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[Doctor_Departments] CHECK CONSTRAINT [FK__Doctor_De__DEPAR__3E52440B]
GO
ALTER TABLE [dbo].[Doctor_Departments]  WITH CHECK ADD  CONSTRAINT [FK__Doctor_De__DOCTO__3D5E1FD2] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[Doctors] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[Doctor_Departments] CHECK CONSTRAINT [FK__Doctor_De__DOCTO__3D5E1FD2]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK__Payments__PURCHA__4AB81AF0] FOREIGN KEY([PURCHASE_ID])
REFERENCES [dbo].[Purchased_Packages] ([PURCHASE_ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK__Payments__PURCHA__4AB81AF0]
GO
ALTER TABLE [dbo].[Purchased_Packages]  WITH CHECK ADD  CONSTRAINT [FK__Purchased__PACKA__47DBAE45] FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[Packages] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[Purchased_Packages] CHECK CONSTRAINT [FK__Purchased__PACKA__47DBAE45]
GO
ALTER TABLE [dbo].[Purchased_Packages]  WITH CHECK ADD  CONSTRAINT [FK__Purchased__USER___46E78A0C] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[Users] ([USER_ID])
GO
ALTER TABLE [dbo].[Purchased_Packages] CHECK CONSTRAINT [FK__Purchased__USER___46E78A0C]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK__Results__DOCTOR___52593CB8] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[Doctors] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK__Results__DOCTOR___52593CB8]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK__Results__USER_ID__5165187F] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[Users] ([USER_ID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK__Results__USER_ID__5165187F]
GO
