    <!-- Blog Başlangıcı -->
<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detayı Başlangıcı -->
            <div class="mb-5">
                <img class="img-fluid w-100 rounded mb-5" src="/0clone/img/blog-2.jpg" alt="">
                <h1 class="mb-4">Sağlıkla İlgili Metin Başlığı</h1>
                <p>Metin içeriği. Sağlıkla ilgili gerçek içerikler...</p>
                <p>Başka bir paragraf...</p>
                <p>Başka bir paragraf...</p>
                <div class="d-flex justify-content-between bg-light rounded p-4 mt-4 mb-4">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle me-2" src="/0clone/img/user.jpg" width="40" height="40" alt="">
                        <span>Yazar</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="ms-3"><i class="far fa-eye text-primary me-1"></i>123</span>
                        <span class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</span>
                    </div>
                </div>
            </div>
            <!-- Blog Detayı Sonu -->
            <!-- Yorum Listesi Başlangıcı -->
            <div class="mb-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">3 Yorum</h4>
                <div class="d-flex mb-4">
                    <img src="/0clone/img/user.jpg" class="img-fluid rounded-circle" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">KullanıcıOne</a> <small><i>01 Ocak 2023</i></small></h6>
                        <p>Başka bir metin... Sağlıkla alakalı yorum...</p>
                        <button class="btn btn-sm btn-light">Yanıtla</button>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <img src="/0clone/img/user.jpg" class="img-fluid rounded-circle" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">KullanıcıTwo</a> <small><i>01 Ocak 2023</i></small></h6>
                        <p>Başka bir metin... Sağlıkla alakalı yorum...</p>
                        <button class="btn btn-sm btn-light">Yanıtla</button>
                    </div>
                </div>
                <div class="d-flex ms-5 mb-4">
                    <img src="/0clone/img/user.jpg" class="img-fluid rounded-circle" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="">Yazar</a> <small><i>01 Ocak 2023</i></small></h6>
                        <p>Başka bir metin... Sağlıkla alakalı yorum...</p>
                        <button class="btn btn-sm btn-light">Yanıtla</button>
                    </div>
                </div>
            </div>
            <!-- Yorum Listesi Sonu -->
            <!-- Yorum Formu Başlangıcı -->
            <div class="bg-light rounded p-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-white mb-4">Yorum Yap</h4>
                <form>
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control bg-white border-0" placeholder="Adınız" style="height: 55px;">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="email" class="form-control bg-white border-0" placeholder="E-posta Adresiniz" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control bg-white border-0" placeholder="Konu" style="height: 55px;">
                        </div>
                        <div class="col-12">
                            <textarea class="form-control bg-white border-0" rows="5" placeholder="Yorumunuz"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Yorumunuzu Gönderin</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Yorum Formu Sonu -->
        </div>

        <!-- Yan Çubuk Başlangıcı -->
        <div class="col-lg-4">
            <!-- Arama Formu Başlangıcı -->
            <div class="mb-5">
                <div class="input-group">
                    <input type="text" class="form-control p-3" placeholder="Anahtar Kelime">
                    <button class="btn btn-primary px-3"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <!-- Arama Formu Sonu -->
            <!-- Kategori Başlangıcı -->
            <div class="mb-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Kategoriler</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Anne/Bebek</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Geleneksel Tıp</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Sağlık</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Kalp Hastalıkları</a>
                    <a class="h5 bg-light rounded py-2 px-3 mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Ortopedi ve Travmatoloji</a>
                </div>
            </div>
            <!-- Kategori Sonu -->
            <!-- Son Gönderiler Başlangıcı -->
            <div class="mb-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Son Gönderiler</h4>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="/0clone/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Metin içeriği. Sağlıkla ilgili gerçek içerikler...
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="/0clone/img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Metin içeriği. Sağlıkla ilgili gerçek içerikler...
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="/0clone/img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Metin içeriği. Sağlıkla ilgili gerçek içerikler...
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="/0clone/img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Metin içeriği. Sağlıkla ilgili gerçek içerikler...
                    </a>
                </div>
                <div class="d-flex rounded overflow-hidden mb-3">
                    <img class="img-fluid" src="/0clone/img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">
                        Metin içeriği. Sağlıkla ilgili gerçek içerikler...
                    </a>
                </div>
            </div>
            <!-- Son Gönderiler Sonu -->
            <!-- Resim Başlangıcı -->
            <div class="mb-5">
                <img src="/0clone/img/blog-1.jpg" alt="" class="img-fluid rounded">
            </div>
            <!-- Resim Sonu -->
            <!-- Etiketler Başlangıcı -->
            <div class="mb-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Etiketler</h4>
                <div class="d-flex flex-wrap m-n1">
                    <a href="" class="btn btn-primary m-1">Ortopedi</a>
                    <a href="" class="btn btn-primary m-1">Eadyoloji</a>
                    <a href="" class="btn btn-primary m-1">Randevu</a>
                    <a href="" class="btn btn-primary m-1">Hastane</a>
                    <a href="" class="btn btn-primary m-1">Yazı</a>
                    <a href="" class="btn btn-primary m-1">Danışmanlık</a>
                    <a href="" class="btn btn-primary m-1">Akapuntur</a>
                    <a href="" class="btn btn-primary m-1">Geliştirme</a>

                </div>
            </div>
            <!-- Etiketler Sonu -->
            <!-- Basit Metin Başlangıcı -->
            <div>
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Meraklısına</h4>
                <div class="bg-light rounded text-center" style="padding: 30px;">
                    <p>Metin içeriği. Sağlıkla ilgili gerçek içerikler...</p>
                    <a href="" class="btn btn-primary py-2 px-4">Devamını Oku</a>
                </div>
            </div>
            <!-- Basit Metin Sonu -->
        </div>
        <!-- Yan Çubuk Sonu -->
    </div>
</div>
<!-- Blog Sonu -->
