<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-4 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">

            </div>
            <div class="col">
                <div style="max-width: 450px;">

                    <div class="row gy-4 row-cols-2 row-cols-md-4">
                        <div class="col">
                            <div>
                                <a href="/Home/Doktorlarimiz" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm4-3a4 4 0 1 0-8 0 4 4 0 0 0 8 0zm-4 9c2.67 0 8 1.34 8 4V16H0v-2c0-2.66 5.33-4 8-4z" />
                                    </svg>
                                    <p class="fw-normal text-muted">Doktorlar</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <a href="/Home/Sonuclar" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h2A1.5 1.5 0 0 1 6 2.5V4H5a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H9V2.5A1.5 1.5 0 0 1 10.5 1h2A1.5 1.5 0 0 1 14 2.5v2A1.5 1.5 0 0 1 12.5 6H11v7.5A1.5 1.5 0 0 1 9.5 15h-3A1.5 1.5 0 0 1 5 13.5V6H3.5A1.5 1.5 0 0 1 2 4.5v-2z" />
                                        <path d="M7 2h2v2H7V2z" />
                                    </svg>
                                    <p class="fw-normal text-muted">Radyoloji Sonuçlar</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <a href="/Home/Randevu" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                                        <path d="M1 4h13V2H1v2zM1 0h2v2H1V0zm11 0h2v2h-2V0zm-5 7l3 3 5-5h-8V2H4v2H1v9h14V7h-4z" />
                                    </svg>
                                    <p class="fw-normal text-muted">Randevu</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <a href="/Blog/Index" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                                        <path d="M2 1h11a1 1 0 0 1 1 1v1H1V2a1 1 0 0 1 1-1zm1 2v10h10V3H3zm9.5 0h1.367L13 3.527V3.5a.5.5 0 0 0-.5-.5h-10a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-.027L13.133 13H13.5a.5.5 0 0 0 .5-.5V3.5a.5.5 0 0 0-.5-.5h-.5zM9 4H4v1h5V4zm-5 2h5V5H4v1zm7.5 2h-6a.5.5 0 0 0-.5.5V10h7V8.5a.5.5 0 0 0-.5-.5z" />
                                    </svg>
                                    <p class="fw-normal text-muted">Blog</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <a href="/Home/Sonuclar" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M8 0l2.687 5.49 6.026.876L11.938 9.012l.793 6.135L8 12.5l-4.73 2.647.793-6.135L.287 6.366 6.313 6.366 8 0zm0 1.795L3.05 5.25l1.456 4.945L8 9.84l3.494 1.355 1.456-4.945L8 1.795zM8 11.704l-3.306 1.8.632-3.878-2.674-2.598 3.906-.566L8 2.764l1.442 2.938 3.906.566-2.674 2.598.632 3.878L8 11.704zm0 0" />
                                    </svg>
                                    <p class="fw-normal text-muted">Labrotuvar Sonuç</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <a href="/Home/Kurumsal" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                                        <path d="M2 3.5A1.5 1.5 0 0 1 3.5 2h9A1.5 1.5 0 0 1 14 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 12.5v-9zm9-1.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-9zM5.694 11.753c-.285.027-.487-.35-.332-.643l.887-1.67a.401.401 0 0 1 .336-.198l1.826-.116a.412.412 0 0 0 .316-.168l.824-1.043a.396.396 0 0 1 .628-.032l1.02 1.23a.415.415 0 0 0 .59.073l1.964-1.493c.255-.194.34-.54.186-.82L13.24 5.494a.404.404 0 0 0-.317-.173l-1.958-.027a.41.41 0 0 1-.31-.172l-.76-1.021a.4.4 0 0 0-.684-.006l-1.115 1.285a.405.405 0 0 1-.304.142L6.68 4.986a.4.4 0 0 0-.4.087l-.86.702a.39.39 0 0 1-.47.015L3.68 5.82c-.224-.14-.525-.03-.652.203l-.63 1.29a.373.373 0 0 0 .045.392l1.514 1.69c.193.217.16.54-.068.703l-1.64.93a.384.384 0 0 0-.15.611l1.26 1.17a.408.408 0 0 1 .088.484l-.694 1.508a.4.4 0 0 0 .252.503l1.47.5c.225.077.47-.028.552-.24l.486-1.404a.4.4 0 0 1 .393-.275l1.604.064a.392.392 0 0 0 .423-.214l.56-1.14a.383.383 0 0 1 .475-.174l1.444.595a.405.405 0 0 0 .501-.233l.445-1.21a.4.4 0 0 1 .492-.24l1.482.56a.404.404 0 0 0 .452-.137l1.13-1.306a.398.398 0 0 1 .542-.062l.975.798a.392.392 0 0 0 .602-.07l.792-1.196c.147-.22.042-.51-.207-.633l-1.66-.824a.394.394 0 0 0-.39.042l-1.18.928a.41.41 0 0 1-.555-.003l-1.225-1.07a.383.383 0 0 0-.585.032l-1.21 1.393a.39.39 0 0 1-.52.07l-1.28-.88z" />
                                    </svg>
                                    <p class="fw-normal text-muted">Kurumsal</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <a href="/Home/SHKS" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
                                        <path d="M13 3.5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-1.5v3h-1v-3H8v3H7v-3H6v3H5v-3H4v3H3a1 1 0 0 1-1-1V4.5a1 1 0 0 1 1-1h10zm0 1h-1v5h1V4.5zM3 6v6a1 1 0 0 0 1 1h1V9.5a1.5 1.5 0 0 1 3 0v3h1V6H3zm1-1h6v1.793l-.146.146A1.5 1.5 0 0 0 8 6.5V5H4v1.5a1 1 0 0 0 1 1h1V5H4V5z" />
                                    </svg>
                                    <p class="fw-normal text-muted">SHKS</p>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <a href="/Home/Iletisim" class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
                                        <path d="M13 2H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h1.5a.5.5 0 0 1 .5.5v2.086l1.414-1.414A.5.5 0 0 1 8 14.086V12.5a.5.5 0 0 1 .5-.5H13a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-3 8H4a.5.5 0 0 1-.5-.5V9a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5zm0-3H4a.5.5 0 0 1-.5-.5V6a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5zm0-3H4A.5.5 0 0 1 3.5 2V2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5z" />
                                    </svg>
                                    <p class="fw-normal text-muted">İletişim</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
