<!-- RandevuStart -->

<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Randevu Oluştur</h5>
                    <h1 class="display-4">Aileniz ve Kendiniz İçin Randevu Alın</h1>
                </div>
                <p class="text-white mb-5">Hızlı ve kolay randevu almak için buradayız! Sağlık hizmetlerimizden yararlanmak ve uzman doktorlarımızla tanışmak için online randevu sistemimizi kullanabilirsiniz. Size uygun bir tarih ve saat seçerek, hızlı bir şekilde randevunuzu oluşturabilirsiniz. Sağlık sorunlarınızı çözmek ve sağlığınızı korumak için sizleri bekliyoruz. Randevu almak için hemen bize ulaşın</p>
                <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="">Doktor Bul</a>
                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="">Daha Fazla</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5">
                    <h1 class="mb-4">Randevu Al</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12">
                                <select class="form-select bg-light border-0" style="height: 55px;">
                                    <option value="">Bölüm</option>
                                    <optgroup label="Acil Servis">
                                        <option value="Dr. Mehmet Yılmaz">Dr. Mehmet Yılmaz</option>
                                    </optgroup>
                                    <optgroup label="Anestezi ve Reanimasyon">
                                        <option value="Dr. Ayşe Kaya">Dr. Ayşe Kaya</option>
                                    </optgroup>
                                    <optgroup label="Ağız ve Diş Sağlığı">
                                        <option value="Dr. Mustafa Demir">Dr. Mustafa Demir</option>
                                    </optgroup>
                                    <optgroup label="Beslenme ve Diyet">
                                        <option value="Dr. Fatma Can">Dr. Fatma Can</option>
                                    </optgroup>
                                    <optgroup label="Beyin, Sinir ve Omurilik Cerrahisi (Nöroşirurji)">
                                        <option value="Dr. Mehmet Ali">Dr. Mehmet Ali</option>
                                    </optgroup>
                                    <optgroup label="Biyokimya Laboratuvarı">
                                        <option value="Dr. Elif Korkut">Dr. Elif Korkut</option>
                                    </optgroup>
                                    <optgroup label="Check Up Merkezi">
                                        <option value="Dr. Ahmet Yıldız">Dr. Ahmet Yıldız</option>
                                    </optgroup>
                                    <optgroup label="Çocuk Cerrahisi">
                                        <option value="Dr. Ayşe Demir">Dr. Ayşe Demir</option>
                                    </optgroup>
                                    <optgroup label="Çocuk Endokrinolojisi">
                                        <option value="Dr. Mehmet Kaya">Dr. Mehmet Kaya</option>
                                    </optgroup>
                                    <optgroup label="Çocuk Sağlığı ve Hastalıkları">
                                        <option value="Dr. Elif Kaya">Dr. Elif Kaya</option>
                                    </optgroup>
                                    <optgroup label="Dahiliye">
                                        <option value="Dr. Ali Demir">Dr. Ali Demir</option>
                                    </optgroup>
                                    <optgroup label="Dermatoloji">
                                        <option value="Dr. Elif Can">Dr. Elif Can</option>
                                    </optgroup>
                                    <optgroup label="El Cerrahisi ve Mikro Cerrahi">
                                        <option value="Dr. Mehmet Can">Dr. Mehmet Can</option>
                                    </optgroup>
                                    <optgroup label="Endokrinoloji ve Metabolizma Hastalıkları">
                                        <option value="Dr. Mehmet Yıldız">Dr. Mehmet Yıldız</option>
                                    </optgroup>
                                    <optgroup label="Enfeksiyon Hastalıkları ve Klinik Mikrobiyoloji">
                                        <option value="Dr. Ayşe Kaya">Dr. Ayşe Kaya</option>
                                    </optgroup>
                                    <optgroup label="Estetik, Plastik ve Rekonstrüktif Cerrahi">
                                        <option value="Dr. Fatma Can">Dr. Fatma Can</option>
                                    </optgroup>
                                    <optgroup label="Fizik Tedavi ve Rehabilitasyon">
                                        <option value="Dr. Mustafa Demir">Dr. Mustafa Demir</option>
                                    </optgroup>
                                    <optgroup label="Gastroenteroloji">
                                        <option value="Dr. Ayşe Korkut">Dr. Ayşe Korkut</option>
                                    </optgroup>
                                    <optgroup label="Genel Cerrahi">
                                        <option value="Dr. Mehmet Ali">Dr. Mehmet Ali</option>
                                    </optgroup>
                                    <optgroup label="Genel Yoğun Bakım Ünitesi">
                                        <option value="Dr. Elif Kaya">Dr. Elif Kaya</option>
                                    </optgroup>
                                    <optgroup label="Girişimsel Nöroloji">
                                        <option value="Dr. Ahmet Yılmaz">Dr. Ahmet Yılmaz</option>
                                    </optgroup>
                                    <optgroup label="Girişimsel Radyoloji">
                                        <option value="Dr. Mehmet Yıldız">Dr. Mehmet Yıldız</option>
                                    </optgroup>
                                    <optgroup label="Göğüs Cerrahisi">
                                        <option value="Dr. Ayşe Kaya">Dr. Ayşe Kaya</option>
                                    </optgroup>
                                    <optgroup label="Göğüs Hastalıkları">
                                        <option value="Dr. Mehmet Can">Dr. Mehmet Can</option>
                                    </optgroup>
                                    <optgroup label="İnme (Felç) Akut Tedavi Ünitesi">
                                        <option value="Dr. Mehmet Yılmaz">Dr. Mehmet Yılmaz</option>
                                    </optgroup>
                                    <optgroup label="İç Hastalıkları">
                                        <option value="Dr. Elif Kaya">Dr. Elif Kaya</option>
                                    </optgroup>
                                    <optgroup label="Kadın Hastalıkları ve Doğum">
                                        <option value="Dr. Mustafa Demir">Dr. Mustafa Demir</option>
                                    </optgroup>
                                    <optgroup label="Kalp ve Damar Cerrahisi">
                                        <option value="Dr. Ayşe Demir">Dr. Ayşe Demir</option>
                                    </optgroup>
                                    <optgroup label="Kardiyoloji">
                                        <option value="Dr. Mehmet Ali">Dr. Mehmet Ali</option>
                                    </optgroup>
                                    <optgroup label="Koroner Yoğun Bakım">
                                        <option value="Dr. Fatma Can">Dr. Fatma Can</option>
                                    </optgroup>
                                    <optgroup label="Kulak Burun Boğaz Hastalıkları">
                                        <option value="Dr. Mehmet Yıldız">Dr. Mehmet Yıldız</option>
                                    </optgroup>
                                    <optgroup label="Meme ve Endokrin Cerrahisi Bölümü">
                                        <option value="Dr. Ayşe Kaya">Dr. Ayşe Kaya</option>
                                    </optgroup>
                                    <optgroup label="Nefroloji">
                                        <option value="Dr. Mustafa Demir">Dr. Mustafa Demir</option>
                                    </optgroup>
                                    <optgroup label="Nöroloji">
                                        <option value="Dr. Mehmet Ali">Dr. Mehmet Ali</option>
                                    </optgroup>
                                    <optgroup label="Nöromodülasyon Merkezi">
                                        <option value="Dr. Elif Kaya">Dr. Elif Kaya</option>
                                    </optgroup>
                                    <optgroup label="Omurga Merkezi">
                                        <option value="Dr. Mehmet Can">Dr. Mehmet Can</option>
                                    </optgroup>
                                    <optgroup label="Organ Nakli Ünitesi">
                                        <option value="Dr. Ayşe Demir">Dr. Ayşe Demir</option>
                                    </optgroup>
                                    <optgroup label="Ortopedi ve Travmatoloji">
                                        <option value="Dr. Fatma Can">Dr. Fatma Can</option>
                                    </optgroup>
                                    <optgroup label="Pediatri">
                                        <option value="Dr. Mehmet Yıldız">Dr. Mehmet Yıldız</option>
                                    </optgroup>
                                    <optgroup label="Pediatrik Endokrinoloji, Diyabet ve Metabolizma Hastalıkları">
                                        <option value="Dr. Elif Korkut">Dr. Elif Korkut</option>
                                    </optgroup>
                                    <optgroup label="Psikoloji">
                                        <option value="Dr. Ahmet Yıldız">Dr. Ahmet Yıldız</option>
                                    </optgroup>
                                    <optgroup label="Radyoloji">
                                        <option value="Dr. Ayşe Yıldız">Dr. Ayşe Yıldız</option>
                                    </optgroup>
                                    <optgroup label="Romatoloji Bölümü">
                                        <option value="Dr. Mehmet Kaya">Dr. Mehmet Kaya</option>
                                    </optgroup>
                                    <optgroup label="Uyku Bozuklukları ve Uyku Laboratuvarı">
                                        <option value="Dr. Elif Kaya">Dr. Elif Kaya</option>
                                    </optgroup>
                                    <optgroup label="Üroloji">
                                        <option value="Dr. Mehmet Ali">Dr. Mehmet Ali</option>
                                    </optgroup>
                                    <optgroup label="Yenidoğan Yoğun Bakım Ünitesi">
                                        <option value="Dr. Ayşe Demir">Dr. Ayşe Demir</option>
                                    </optgroup>
                                    <!-- Diğer bölümler ve doktorlar burada yer alacak -->
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Ad" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-light border-0" placeholder="e-Posta" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control bg-light border-0 datetimepicker-input"
                                           placeholder="Tarih" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control bg-light border-0 datetimepicker-input"
                                           placeholder="Saat" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Randevu Oluştur.</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Randevu End -->
