    <!-- Search Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"></h5>
                <h1 class="display-4 mb-4">Aradığın Doktoru Bul</h1>
                <h5 class="fw-normal"></h5>
            </div>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <select class="form-select border-primary w-75" id="departmentSelect" style="height: 60px;">
                        <option selected>Bölüm</option>
                        <option value="acil">Acil Servis</option>
                        <option value="anestezi">Anestezi ve Reanimasyon</option>
                        <option value="agiz">Ağız ve Diş Sağlığı</option>
                        <option value="beslenme">Beslenme ve Diyet</option>
                        <option value="beyin">Beyin, Sinir ve Omurilik Cerrahisi ( Nöroşirurji )</option>
                        <option value="biyokimya">Biyokimya Laboratuvarı</option>
                        <option value="checkup">Check Up Merkezi</option>
                        <option value="cocukcerrahisi">Çocuk Cerrahisi</option>
                        <option value="cocukendokrinolojisi">Çocuk Endokrinolojisi</option>
                        <option value="cocuksagligi">Çocuk Sağlığı ve Hastalıkları</option>
                        <option value="dahiliye">Dahiliye</option>
                        <option value="dermatoloji">Dermatoloji</option>
                        <option value="elcerrahisi">El Cerrahisi ve Mikro Cerrahi</option>
                        <option value="endokrinoloji">Endokrinoloji ve Metabolizma Hastalıkları</option>
                        <option value="enfeksiyon">Enfeksiyon Hastalıkları ve Klinik Mikrobiyoloji</option>
                        <option value="estetik">Estetik, Plastik ve Rekonstrüktif Cerrahi</option>
                        <option value="fiziktedavi">Fizik Tedavi ve Rehabilitasyon</option>
                        <option value="gastroenteroloji">Gastroenteroloji</option>
                        <option value="genelcerrahi">Genel Cerrahi</option>
                        <option value="genelyogunbakim">Genel Yoğun Bakım Ünitesi</option>
                        <option value="girisimselnoroloji">Girişimsel Nöroloji</option>
                        <option value="girisimselradyoloji">Girişimsel Radyoloji</option>
                        <option value="goguscerrahisi">Göğüs Cerrahisi</option>
                        <option value="gogushastaliklari">Göğüs Hastalıkları</option>
                        <option value="inme">İnme (Felç) Akut Tedavi Ünitesi</option>
                        <option value="ichastaliklari">İç Hastalıkları</option>
                        <option value="kadinhastaliklari">Kadın Hastalıkları ve Doğum</option>
                        <option value="kalp">Kalp ve Damar Cerrahisi</option>
                        <option value="kardiyoloji">Kardiyoloji</option>
                        <option value="koroneryogunbakim">Koroner Yoğun Bakım</option>
                        <option value="kulakburunbogaz">Kulak Burun Boğaz Hastalıkları</option>
                        <option value="memeendokrincerrahi">Meme ve Endokrin Cerrahisi Bölümü</option>
                        <option value="nefroloji">Nefroloji</option>
                        <option value="noroloji">Nöroloji</option>
                        <option value="nöromodülasyon">Nöromodülasyon Merkezi</option>
                        <option value="omurga">Omurga Merkezi</option>
                        <option value="organnakli">Organ Nakli Ünitesi</option>
                        <option value="ortopedi">Ortopedi ve Travmatoloji</option>
                        <option value="pediatri">Pediatri</option>
                        <option value="pediatrikendokrinoloji">Pediatrik Endokrinoloji, Diyabet ve Metabolizma Hastalıkları</option>
                        <option value="psikoloji">Psikoloji</option>
                        <option value="radyoloji">Radyoloji</option>
                        <option value="romatoloji">Romatoloji Bölümü</option>
                        <option value="uykubozukluklari">Uyku Bozuklukları ve Uyku Laboratuvarı</option>
                        <option value="uroloji">Üroloji</option>
                        <option value="yenidoğan">Yenidoğan Yoğun Bakım Ünitesi</option>
                    </select>
                    <button class="btn btn-dark border-0 w-25" id="searchBtn">Ara</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search End -->
    <!-- Doctors List Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <!-- Acil Servis -->
                <div class="col-lg-6 team-item" id="acil">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Yılmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Acil Servis</h6>
                                <p class="m-0">Acil servis bölümünde uzmanlaşmış olan Dr. Mehmet Yılmaz, hızlı ve etkili tıbbi müdahaleleriyle acil durumlara hızlı çözümler sunmaktadır. İnsan hayatını ön planda tutan anlayışıyla hastalarına kaliteli sağlık hizmeti sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone//0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone//0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone//0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Anestezi ve Reanimasyon -->
                <div class="col-lg-6 team-item" id="anestezi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Anestezi ve Reanimasyon</h6>
                                <p class="m-0">Anestezi ve reanimasyon alanında uzmanlaşmış olan Dr. Ayşe Demir, ameliyat öncesi ve sonrasında anestezi uygulamalarıyla hastaların rahat bir süreç geçirmesini sağlamaktadır. Güvenilir ve kaliteli anestezi hizmeti sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ağız ve Diş Sağlığı -->
                <div class="col-lg-6 team-item" id="agiz">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Canan Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Ağız ve Diş Sağlığı</h6>
                                <p class="m-0">Ağız ve diş sağlığı konusunda uzmanlaşmış olan Dr. Canan Kaya, diş tedavileri, protezler ve diğer ağız sağlığı hizmetlerinde kaliteli ve güvenilir çözümler sunmaktadır. Hastalarına güler yüzlü bir hizmet sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Beslenme ve Diyet -->
                <div class="col-lg-6 team-item" id="beslenme">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Fatma Ay</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Beslenme ve Diyet</h6>
                                <p class="m-0">Beslenme ve diyet konusunda uzmanlaşmış olan Dr. Fatma Ay, sağlıklı beslenme ve diyet programlarıyla hastalarının beslenme alışkanlıklarını düzenlemekte ve sağlıklı bir yaşam sürdürmelerine yardımcı olmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Beyin, Sinir ve Omurilik Cerrahisi (Nöroşirurji) -->
                <div class="col-lg-6 team-item" id="beyin">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ahmet Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Beyin, Sinir ve Omurilik Cerrahisi (Nöroşirurji)</h6>
                                <p class="m-0">Beyin, sinir ve omurilik cerrahisi konusunda uzmanlaşmış olan Dr. Ahmet Kaya, beyin ve sinir sistemiyle ilgili cerrahi müdahaleleri başarıyla gerçekleştirmektedir. Hastalarına en son teknolojilerle donatılmış tedavi seçenekleri sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Biyokimya Laboratuvarı -->
                <div class="col-lg-6 team-item" id="biyokimya">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Canan Topçu</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Biyokimya Laboratuvarı</h6>
                                <p class="m-0">Biyokimya laboratuvarı konusunda uzmanlaşmış olan Dr. Canan Topçu, laboratuvar testlerinin doğru ve güvenilir sonuçlarla değerlendirilmesini sağlamaktadır. Hassas ve titiz çalışmalarıyla hastalarına kaliteli laboratuvar hizmeti sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Check Up Merkezi -->
                <div class="col-lg-6 team-item" id="checkup">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ali Şahin</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Check Up Merkezi</h6>
                                <p class="m-0">Check-up merkezi konusunda uzmanlaşmış olan Dr. Ali Şahin, kişilerin sağlık durumlarını tarama testleriyle değerlendirerek erken teşhis ve tedavi imkanı sağlamaktadır. Hastalarına kapsamlı bir sağlık kontrolü sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Çocuk Cerrahisi -->
                <div class="col-lg-6 team-item" id="cocukcerrahisi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Demirci</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Çocuk Cerrahisi</h6>
                                <p class="m-0">Çocuk cerrahisi konusunda uzmanlaşmış olan Dr. Ayşe Demirci, çocuklarda ortaya çıkan cerrahi gerektiren sağlık sorunlarına müdahale etmektedir. Hassas ve dikkatli yaklaşımıyla çocukların sağlıklarını korumaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Çocuk Endokrinolojisi -->
                <div class="col-lg-6 team-item" id="cocukendokrinolojisi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Korkmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Çocuk Endokrinolojisi</h6>
                                <p class="m-0">Çocuk endokrinolojisi konusunda uzmanlaşmış olan Dr. Ayşe Korkmaz, çocukların endokrin sistemle ilgili sağlık sorunlarına yönelik tanı ve tedavi hizmeti sunmaktadır. Hastalarına özenli ve bireysel bir yaklaşım sergilemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Çocuk Sağlığı ve Hastalıkları -->
                <div class="col-lg-6 team-item" id="cocuksagligi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Yıldız</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Çocuk Sağlığı ve Hastalıkları</h6>
                                <p class="m-0">Çocuk sağlığı ve hastalıkları konusunda uzmanlaşmış olan Dr. Ayşe Yıldız, çocukların genel sağlık durumlarını değerlendirerek tanı ve tedavi süreçlerini yönetmektedir. Çocukların sağlıklı gelişimini desteklemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Dahiliye -->
                <div class="col-lg-6 team-item" id="dahiliye">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ahmet Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Dahiliye</h6>
                                <p class="m-0">Dahiliye alanında uzmanlaşmış olan Dr. Ahmet Demir, yetişkinlerde ortaya çıkan çeşitli sağlık sorunlarını tanı ve tedavi etmektedir. Hastalarının genel sağlığını takip etmekte ve koruyucu sağlık hizmetleri sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Dermatoloji -->
                <div class="col-lg-6 team-item" id="dermatoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Cem Öztürk</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Dermatoloji</h6>
                                <p class="m-0">Dermatoloji alanında uzmanlaşmış olan Dr. Cem Öztürk, cilt hastalıkları ve estetik sorunlara yönelik tanı ve tedavi hizmetleri sunmaktadır. Hastalarına sağlıklı ve güzel bir cilt için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- El Cerrahisi ve Mikro Cerrahi -->
                <div class="col-lg-6 team-item" id="elcerrahisi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">El Cerrahisi ve Mikro Cerrahi</h6>
                                <p class="m-0">El cerrahisi ve mikro cerrahi konusunda uzmanlaşmış olan Dr. Mehmet Kaya, el ve el bileği problemlerinin tedavisinde cerrahi müdahaleler gerçekleştirmektedir. Hassas ve titiz bir yaklaşımla hastalarına sağlıklı eller sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Endokrinoloji ve Metabolizma Hastalıkları -->
                <div class="col-lg-6 team-item" id="endokrinoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Şahin</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Endokrinoloji ve Metabolizma Hastalıkları</h6>
                                <p class="m-0">Endokrinoloji ve metabolizma hastalıkları konusunda uzmanlaşmış olan Dr. Ayşe Şahin, hormonal bozuklukların teşhis ve tedavisini gerçekleştirmektedir. Hastalarına sağlıklı bir hormonal denge sağlamak için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Enfeksiyon Hastalıkları ve Klinik Mikrobiyoloji -->
                <div class="col-lg-6 team-item" id="enfeksiyon">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Yıldız</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Enfeksiyon Hastalıkları ve Klinik Mikrobiyoloji</h6>
                                <p class="m-0">Enfeksiyon hastalıkları ve klinik mikrobiyoloji konusunda uzmanlaşmış olan Dr. Mehmet Yıldız, enfeksiyon kaynaklı hastalıkların teşhis ve tedavisini gerçekleştirmektedir. Hastalarına etkili ve güvenilir tedavi seçenekleri sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Estetik, Plastik ve Rekonstrüktif Cerrahi -->
                <div class="col-lg-6 team-item" id="estetik">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Aslı Yılmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Estetik, Plastik ve Rekonstrüktif Cerrahi</h6>
                                <p class="m-0">Estetik, plastik ve rekonstrüktif cerrahi konusunda uzmanlaşmış olan Dr. Aslı Yılmaz, güzellik ameliyatları, rekonstrüktif cerrahi ve estetik girişimler konusunda hizmet vermektedir. Hastalarına güvenli ve başarılı bir şekilde cerrahi işlemler uygulamaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fizik Tedavi ve Rehabilitasyon -->
                <div class="col-lg-6 team-item" id="fiziktedavi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Yılmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Fizik Tedavi ve Rehabilitasyon</h6>
                                <p class="m-0">Fizik tedavi ve rehabilitasyon konusunda uzmanlaşmış olan Dr. Mehmet Yılmaz, hastaların fiziksel fonksiyonlarını iyileştirmek ve yaşam kalitelerini artırmak için tedavi planları oluşturmaktadır. Hastalarına etkili ve kişiye özel rehabilitasyon hizmeti sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Gastroenteroloji -->
                <div class="col-lg-6 team-item" id="gastroenteroloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Korkmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Gastroenteroloji</h6>
                                <p class="m-0">Gastroenteroloji alanında uzmanlaşmış olan Dr. Ayşe Korkmaz, sindirim sistemi hastalıklarıyla ilgili tanı, tedavi ve takip hizmeti sunmaktadır. Hastalarının sindirim sağlığını korumak ve iyileştirmek için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Genel Cerrahi -->
                <div class="col-lg-6 team-item" id="genelcerrahi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ali Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Genel Cerrahi</h6>
                                <p class="m-0">Genel cerrahi alanında uzmanlaşmış olan Dr. Ali Demir, çeşitli cerrahi müdahaleleri başarıyla gerçekleştirmektedir. Hastalarının genel sağlık durumunu değerlendirmekte ve cerrahi tedavileriyle iyileştirmektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Genel Yoğun Bakım Ünitesi -->
                <div class="col-lg-6 team-item" id="genelyogunbakim">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Yılmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Genel Yoğun Bakım Ünitesi</h6>
                                <p class="m-0">Genel yoğun bakım ünitesinde çalışan Dr. Mehmet Yılmaz, kritik hastaların takibi ve tedavisi konusunda uzmandır. Yoğun bakım gerektiren durumlarda hızlı ve etkili müdahaleleriyle hastalarına destek olmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Girişimsel Nöroloji -->
                <div class="col-lg-6 team-item" id="girisimselnoroloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Can Özdemir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Girişimsel Nöroloji</h6>
                                <p class="m-0">Girişimsel nöroloji konusunda uzmanlaşmış olan Dr. Can Özdemir, nörolojik rahatsızlıkların tedavisinde girişimsel yöntemleri uygulamaktadır. Hastalarının sağlık durumunu iyileştirmek ve yaşam kalitelerini artırmak için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Girişimsel Radyoloji -->
                <div class="col-lg-6 team-item" id="girisimselradyoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Elif Demirci</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Girişimsel Radyoloji</h6>
                                <p class="m-0">Girişimsel radyoloji konusunda uzmanlaşmış olan Dr. Elif Demirci, görüntüleme yöntemlerini kullanarak tanı ve tedavi amaçlı müdahaleler gerçekleştirmektedir. Hastalarına etkili ve güvenli radyolojik girişimler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Göğüs Cerrahisi -->
                <div class="col-lg-6 team-item" id="goguscerrahisi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Göğüs Cerrahisi</h6>
                                <p class="m-0">Göğüs cerrahisi konusunda uzmanlaşmış olan Dr. Mehmet Kaya, göğüs hastalıkları ve göğüs kanserinin tedavisinde cerrahi müdahaleler gerçekleştirmektedir. Hastalarının sağlığını korumak ve iyileştirmek için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Göğüs Hastalıkları -->
                <div class="col-lg-6 team-item" id="gogushastaliklari">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Göğüs Hastalıkları</h6>
                                <p class="m-0">Göğüs hastalıkları konusunda uzmanlaşmış olan Dr. Ayşe Demir, solunum sistemi hastalıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarının solunum sağlığını korumak ve iyileştirmek için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- İnme (Felç) Akut Tedavi Ünitesi -->
                <div class="col-lg-6 team-item" id="inme">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ali Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">İnme (Felç) Akut Tedavi Ünitesi</h6>
                                <p class="m-0">İnme (felç) akut tedavi ünitesinde görev yapan Dr. Ali Kaya, inme hastalarının acil tedavi sürecini yönetmektedir. Hızlı ve etkili müdahaleleriyle hastalarına umut ve destek olmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- İç Hastalıkları -->
                <div class="col-lg-6 team-item" id="ichastaliklari">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Yıldırım</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">İç Hastalıkları</h6>
                                <p class="m-0">İç hastalıkları konusunda uzmanlaşmış olan Dr. Mehmet Yıldırım, iç organların tanı ve tedavisini gerçekleştirmektedir. Hastalarının genel sağlık durumunu değerlendirmek ve hastalıklarıyla ilgili tedavi planları oluşturmak konusunda deneyimlidir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kadın Hastalıkları ve Doğum -->
                <div class="col-lg-6 team-item" id="kadinhastaliklari">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Yılmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Kadın Hastalıkları ve Doğum</h6>
                                <p class="m-0">Kadın hastalıkları ve doğum konusunda uzmanlaşmış olan Dr. Ayşe Yılmaz, jinekolojik sorunların tanı ve tedavisini gerçekleştirmektedir. Hastalarına güvenli ve insana değer veren bir bakım sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kalp ve Damar Cerrahisi -->
                <div class="col-lg-6 team-item" id="kalp">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ali Yıldız</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Kalp ve Damar Cerrahisi</h6>
                                <p class="m-0">Kalp ve damar cerrahisi konusunda uzmanlaşmış olan Dr. Ali Yıldız, kalp hastalıklarının cerrahi tedavisi ve kalp ameliyatları konusunda deneyimlidir. Hastalarına kalp sağlığını korumak ve iyileştirmek için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kardiyoloji -->
                <div class="col-lg-6 team-item" id="kardiyoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ahmet Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Kardiyoloji</h6>
                                <p class="m-0">Kardiyoloji alanında uzmanlaşmış olan Dr. Ahmet Demir, kalp ve dolaşım sistemi hastalıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarına kalp sağlığı konusunda en iyi bakımı sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Koroner Yoğun Bakım -->
                <div class="col-lg-6 team-item" id="koroneryogunbakim">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Korkmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Koroner Yoğun Bakım</h6>
                                <p class="m-0">Koroner yoğun bakım biriminde görev yapan Dr. Ayşe Korkmaz, kalp hastalarının kritik durumlarında takip ve tedavi süreçlerini yönetmektedir. Hasta güvenliği ve hızlı müdahaleler konusunda uzmanlaşmıştır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Kulak Burun Boğaz Hastalıkları -->
                <div class="col-lg-6 team-item" id="kulakburunbogaz">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Kulak Burun Boğaz Hastalıkları</h6>
                                <p class="m-0">Kulak burun boğaz hastalıkları konusunda uzmanlaşmış olan Dr. Mehmet Kaya, kulak, burun ve boğazla ilgili rahatsızlıkların tanı ve tedavisini gerçekleştirmektedir. Hastalarına sağlıklı bir solunum ve iletişim imkanı sağlamayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Meme ve Endokrin Cerrahisi Bölümü -->
                <div class="col-lg-6 team-item" id="memeendokrincerrahi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Elif Yıldız</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Meme ve Endokrin Cerrahisi Bölümü</h6>
                                <p class="m-0">Meme ve endokrin cerrahisi konusunda uzmanlaşmış olan Dr. Elif Yıldız, meme hastalıkları ve endokrin sistem rahatsızlıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarının sağlığını korumak ve iyileştirmek için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nefroloji -->
                <div class="col-lg-6 team-item" id="nefroloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ali Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Nefroloji</h6>
                                <p class="m-0">Nefroloji alanında uzmanlaşmış olan Dr. Ali Demir, böbrek hastalıklarının tanı ve tedavisini gerçekleştirmektedir. Hemodiyaliz ve böbrek nakli gibi tedavi yöntemlerinde deneyimlidir. Hastalarına sağlıklı böbrek fonksiyonları sağlamak için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nöroloji -->
                <div class="col-lg-6 team-item" id="noroloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Korkut</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Nöroloji</h6>
                                <p class="m-0">Nöroloji alanında uzmanlaşmış olan Dr. Ayşe Korkut, sinir sistemi rahatsızlıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarının nörolojik sağlığını korumak ve iyileştirmek için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nöromodülasyon Merkezi -->
                <div class="col-lg-6 team-item" id="nöromodülasyon">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Can</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Nöromodülasyon Merkezi</h6>
                                <p class="m-0">Nöromodülasyon merkezinde görev yapan Dr. Mehmet Can, nöromodülasyon yöntemlerini kullanarak sinir sistemi rahatsızlıklarının tedavisini gerçekleştirmektedir. Hastalarına ağrı yönetimi ve sinirsel rehabilitasyon hizmeti sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Omurga Merkezi -->
                <div class="col-lg-6 team-item" id="omurga">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ali Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Omurga Merkezi</h6>
                                <p class="m-0">Omurga merkezinde görev yapan Dr. Ali Demir, omurga rahatsızlıklarının tanı ve tedavisinde uzmandır. Hastalarına omurga sağlığı konusunda en iyi bakımı sunmayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Organ Nakli Ünitesi -->
                <div class="col-lg-6 team-item" id="organnakli">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Organ Nakli Ünitesi</h6>
                                <p class="m-0">Organ nakli ünitesinde görev yapan Dr. Ayşe Kaya, organ nakli operasyonlarını yönetmekte ve takip etmektedir. Hastalarına organ nakli sürecinde güvenli ve etkili bir bakım sunmayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ortopedi ve Travmatoloji -->
                <div class="col-lg-6 team-item" id="ortopedi">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Can</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Ortopedi ve Travmatoloji</h6>
                                <p class="m-0">Ortopedi ve travmatoloji alanında uzmanlaşmış olan Dr. Mehmet Can, kas-iskelet sistemi hastalıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarına hareket özgürlüğünü geri kazandırmak için çözümler sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pediatri -->
                <div class="col-lg-6 team-item" id="pediatri">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Pediatri</h6>
                                <p class="m-0">Pediatri alanında uzmanlaşmış olan Dr. Ayşe Demir, çocukların sağlığının korunması ve gelişimlerinin desteklenmesi konusunda çalışmaktadır. Hastalarına pediatrik sağlık hizmetlerini sunmayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pediatrik Endokrinoloji, Diyabet ve Metabolizma Hastalıkları -->
                <div class="col-lg-6 team-item" id="pediatrikendokrinoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Elif Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Pediatrik Endokrinoloji, Diyabet ve Metabolizma Hastalıkları</h6>
                                <p class="m-0">Pediatrik endokrinoloji, diyabet ve metabolizma hastalıkları alanında uzmanlaşmış olan Dr. Elif Kaya, çocukların endokrin sistem rahatsızlıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarına sağlıklı büyüme ve gelişim imkanı sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Psikoloji -->
                <div class="col-lg-6 team-item" id="psikoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ahmet Yılmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Psikoloji</h6>
                                <p class="m-0">Psikoloji alanında uzmanlaşmış olan Dr. Ahmet Yılmaz, bireylerin zihinsel sağlığını ve ruh halini değerlendirmekte ve tedavi etmektedir. Hastalarına duygusal ve zihinsel iyilik haline ulaşmaları konusunda destek sağlamaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Radyoloji -->
                <div class="col-lg-6 team-item" id="radyoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Elif Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Radyoloji</h6>
                                <p class="m-0">Radyoloji alanında uzmanlaşmış olan Dr. Elif Demir, radyolojik görüntüleme yöntemleri ile tanı ve tedavi süreçlerini desteklemektedir. Hastalarına doğru teşhis ve tedavi planı oluşturulmasında yardımcı olmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Romatoloji Bölümü -->
                <div class="col-lg-6 team-item" id="romatoloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Romatoloji Bölümü</h6>
                                <p class="m-0">Romatoloji bölümünde görev yapan Dr. Mehmet Kaya, romatizmal hastalıkların tanı ve tedavisinde uzmandır. Hastalarına romatolojik sağlık hizmetlerini sunmayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Uyku Bozuklukları ve Uyku Laboratuvarı -->
                <div class="col-lg-6 team-item" id="uykubozukluklari">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Yıldız</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Uyku Bozuklukları ve Uyku Laboratuvarı</h6>
                                <p class="m-0">Uyku bozuklukları ve uyku laboratuvarı konusunda uzmanlaşmış olan Dr. Ayşe Yıldız, uyku rahatsızlıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarına sağlıklı uyku alışkanlıkları kazandırmayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Üroloji -->
                <div class="col-lg-6 team-item" id="uroloji">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Mehmet Korkut</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Üroloji</h6>
                                <p class="m-0">Üroloji alanında uzmanlaşmış olan Dr. Mehmet Korkut, üriner sistem rahatsızlıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarına ürolojik sağlık hizmetlerini sunmayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Yenidoğan Yoğun Bakım Ünitesi -->
                <div class="col-lg-6 team-item" id="yenidoğan">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/0clone/img/avatar.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Elif Can</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Yenidoğan Yoğun Bakım Ünitesi</h6>
                                <p class="m-0">Yenidoğan yoğun bakım ünitesinde görev yapan Dr. Elif Can, yeni doğan bebeklerin sağlık sorunlarının tanı ve tedavisini gerçekleştirmektedir. Yenidoğan bebeklerin sağlıklı bir şekilde büyümelerini sağlamayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="/0clone/img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="/0clone/img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Doktor Kartı Oluştur Sonu -->
    </div>


    <!-- Doctors List End -->

    <script>
    document.getElementById("searchBtn").addEventListener("click", function() {
        var departmentSelect = document.getElementById("departmentSelect").value;

        // Arama sonuçlarını temizle
        var doktorlar = document.querySelectorAll('.team-item');
        for (var i = 0; i < doktorlar.length; i++) {
            doktorlar[i].style.display = 'none';
        }

        // Seçilen bölümü göster
        if (departmentSelect !== 'Bölüm') {
            var bolumDoktorlari = document.getElementById(departmentSelect);
            if (bolumDoktorlari) {
                bolumDoktorlari.style.display = 'block';
            }
        }
    });
    </script>






