
<body>

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="/0clone/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">İhtiyaçlarınıza Özel, Kapsamlı Sağlık Hizmetleri</h5>
                        <h1 class="display-4">Bir Sağlık Hikayesi: İyileşme, İyilik ve İnsanlık</h1>
                    </div>
                    <p>
                        Her hastamızın sağlık hikayesine bir sayfa eklemek için buradayız.
                        İyileşme yolunda adımlar atarken, iyilik ve insanlık değerlerini koruyoruz. Her bir bireyin sağlığını önemsiyor, destekliyor ve onların yanında oluyoruz.
                        Hastalarımızın sağlık yolculuklarına eşlik etmek, onların iyileşme süreçlerine destek olmak ve sağlıklarını en üst seviyeye çıkarmak için varız.
                        Her bir hasta bizim için özeldir ve onların ihtiyaçlarına duyarlılıkla yaklaşırız.
                    </p>
                    <p>
                        Bir sağlık hikayesi olarak, iyileşme, iyilik ve insanlık değerlerini bir araya getirerek her hastamızın hayatına dokunmayı hedefliyoruz.
                        Sağlık yolculuğunuzda size destek olmak ve sağlığınızı en iyi şekilde yönetmek için buradayız.Sizlere en iyi sağlık hizmetini sunmak için çalışıyoruz.
                        İyi bir sağlık hikayesi yazmak için yanınızdayız.
                    </p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                <h6 class="mb-0">Tecrübeli<small class="d-block text-primary">Doktorlar</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                                <h6 class="mb-0">Acil<small class="d-block text-primary">Servis</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                                <h6 class="mb-0">Tanısal<small class="d-block text-primary">Testler</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                                <h6 class="mb-0">Ambulans<small class="d-block text-primary">Hizmeti</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--about kısmı bitiş -->
    <!-- doctors Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Doktorlarımız</h5>
                <h1 class="display-4">Sağlık Profesyonelleri</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative">
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <div class="person-img-placeholder"></div>
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Ece Tanrıkulu</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Beyin Cerrahisi</h6>
                                <p class="m-0">Beyin Cerrahi alanında uzmanlık eğitimimi Ege Üniversitesi Hastanesi'nde tamamladım. 10 yıldır acil servis doktoru olarak çalışıyorum.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <div class="person-img-placeholder"></div>
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ayşe Demir</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Pediatri</h6>
                                <p class="m-0">Pediatri alanında uzmanlaşmış olan Dr. Ayşe Demir, çocukların sağlığının korunması ve gelişimlerinin desteklenmesi konusunda çalışmaktadır. Hastalarına pediatrik sağlık hizmetlerini sunmayı hedeflemektedir.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <div class="person-img-placeholder"></div>
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Elif Kaya</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Pediatrik Endokrinoloji, Diyabet ve Metabolizma Hastalıkları</h6>
                                <p class="m-0">Pediatrik endokrinoloji, diyabet ve metabolizma hastalıkları alanında uzmanlaşmış olan Dr. Elif Kaya, çocukların endokrin sistem rahatsızlıklarının tanı ve tedavisini gerçekleştirmektedir. Hastalarına sağlıklı büyüme ve gelişim imkanı sunmaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <div class="person-img-placeholder"></div>
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>Dr. Ahmet Yılmaz</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Psikoloji</h6>
                                <p class="m-0">Psikoloji alanında uzmanlaşmış olan Dr. Ahmet Yılmaz, bireylerin zihinsel sağlığını ve ruh halini değerlendirmekte ve tedavi etmektedir. Hastalarına duygusal ve zihinsel iyilik haline ulaşmaları konusunda destek sağlamaktadır.</p>
                            </div>
                            <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="img/avatar.jpg"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href= ="img/avatar.jpg"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href= ="img/avatar.jpg"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- doctors End -->
